.b10 {
	height: 735px;
	padding-top: 80px;
	background: url("../img/b10_bg.jpg") 50% 100% no-repeat;

	h2 {
		font-size: 30px;
		margin-bottom: 30px;
	}

	.form-box {
		margin: 0 auto;
	}

	.content-box {
		float: left;
		width: 300px;
		display: none;

		.top-text {
			color: #fff;
			font-size: 28px;
			font-weight: 300;
			line-height: 30px;
			margin-bottom: 70px;
		}

		.content-title {
			color: #c3a74c;
			font-size: 40px;
			font-weight: 700;
			line-height: 1.1;
			position: relative;
			text-align: center;
			margin-bottom: 23px;
			padding-bottom: 20px;

			&:before {
				left: 50%;
				bottom: 0;
				width: 28px;
				content: ' ';
				position: absolute;
				margin-left: -14px;
				border-bottom: 2px solid #c3a74c;
			}
		}


		.content-sub {
			color: #ffffff;
			font-size: 16px;
			text-align: center;
		}
	}

	blockquote {
		color: #fff;

		margin: 0 auto;
		font-size: 20px;
		font-weight: 300;
		line-height: 28px;
		padding: 30px 0 0 65px;
		background: url("../img/blockqoute.png") 0 15px no-repeat;
	}

	@media (min-width: $screen-xs-min) {

	}

	@media (min-width: $screen-sm-min) {

		.form-box {
			margin: 0;
			float: right;
		}

		.content-box {
			display: block;
		}

		blockquote {
			width: 500px;
		}
	}

	@media (min-width: $screen-md-min) {

		.content-box {
			width: 520px;

			.top-text {
				color: #fff;
				font-size: 30px;
				line-height: 32px;
				margin-bottom: 100px;
			}

			.content-title {
				font-size: 35px;
				line-height: 40px;
			}

			.content-sub {
				font-size: 20px;
			}
		}

		blockquote {
			margin: -110px 0 0 0;
		}
	}

	@media (min-width: $screen-lg-min) {

		.content-box {
			width: 590px;

			.content-title {
				font-size: 40px;
				line-height: 44px;
			}

			.content-sub {
				font-size: 20px;
			}
		}
	}
}