.form-box {
	color: #fff;
	width: 290px;
	position: relative;
	padding: 25px 24px;
	background: #141e26;
	border: 1px solid #93b6d1;

	.form-box-title {
		color: #fff;
		font-size: 24px;
		line-height: 24px;
		text-align: center;
		position: relative;
		margin-bottom: 25px;
		font-family: $font-pfd;
		text-transform: uppercase;


		span {
			color: #c3a74c;
			display: block;
			font-size: 36px;
			line-height: 36px;
			text-align: center;
			margin-bottom: 5px;
		}

		.form-title-text {
			@include img-responsive(inline-block);
		}
	}

	ol {
		margin: 0;
		list-style: none;
		padding: 0 0 10px 0;

		li {
			margin-bottom: 8px;
		}
	}

	input[type="text"] {
		width: 100%;
		color: #fff;
		outline: none;
		display: block;
		font-size: 14px;
		font-weight: 300;
		line-height: 20px;
		padding: 4px 10px;
		text-align: center;
		background: transparent;
		border: 1px solid #564f39;
		@include placeholder(#fff);

		&:focus {
			@include placeholder(transparent);
		}
	}

	.sendbutton {
		width: 100%;
		color: #fff;
		outline: none;
		cursor: pointer;
		font-size: 18px;
		font-weight: 700;
		line-height: 20px;
		padding: 8px 10px;
		text-align: center;
		position: relative;
		display: inline-block;
		text-decoration: none;
		background: transparent;
		text-transform: uppercase;
		border: 2px solid #d4b75b;

		&:hover {
			color: #141e26;
			background: #d4b75b;
		}

		&:active {
			top: 1px;
		}
	}

	.sup {
		font-size: 12px;
		font-weight: 700;
		line-height: 20px;
		padding-top: 2px;
		text-align: center;
		text-transform: uppercase;
	}

	@media (min-width: $screen-md-min) {
		width: 400px;
		padding: 50px 55px;

		.form-box-title {
			font-size: 30px;
			line-height: 30px;
			margin-bottom: 25px;
			padding-bottom: 30px;
			background: url("../img/form-box-title.png") 50% 100% no-repeat;

			span {
				font-size: 46px;
				line-height: 50px;
			}
		}

		ol {

			li {
				margin-bottom: 20px;
			}
		}

		input[type="text"] {
			font-size: 17px;
			font-weight: 300;
			line-height: 20px;
			padding: 15px 10px;
		}

		.sendbutton {
			width: 100%;
			color: #fff;
			outline: none;
			cursor: pointer;
			padding: 25px 10px;
		}

		.sup {
			font-size: 14px;
		}
	}
}

.btn-close {
	top: 5px;
	z-index: 200;
	right: 5px;
	line-height: 20px;
	color: #FFFFFF;
	font-size: 20px;
	cursor: pointer;
	position: absolute;
}

label {
	font-weight: 400;
	display: block;
}

.map-box {
	width: 290px;
	padding: 30px 24px;
	position: relative;
	background: #fff;

	.btn-close {
		color: #141e26;
	}

	#map {
		height: 350px;
	}

	@media (min-width: $screen-sm-min) {
		width: 500px;
	}

	@media (min-width: $screen-sm-min) {
		width: 800px;
	}
}
